.cookieConsentContainer {
  z-index: 999;
  position: fixed;
  bottom: 0px !important;
  left: 0px !important;
  width: 100%  !important;
  min-height: 20px;
  box-sizing: border-box;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #fff;
  overflow: hidden;
  display: none;
  color: #FFFFFF;
  font-family: OpenSans, arial, "sans-serif";
  font-size: 1rem;
  justify-content:center;
  align-items: center;
}

.cookieConsentContainer .cookieButton a {
  font-weight: bold;
  margin-top: 14px;
  background: #3E9B67;
  box-sizing: border-box; 
  padding: 10px 20px;
  transition: background 0.3s;
  margin-left: 15px;
  border-radius: 8px;
}
.cookieConsentContainer .cookieButton a:hover { 
  cursor: pointer;
  background: #317c52;
}